<% provide(:title, @publisher.name) %>

<h1><%= @publisher.name %></h1>

<ul class="books">
    <% @book.each do |b| %>
        <li>
            <%= link_to b.title, b %>
            <%= b.author %>
            <%= b.number %>巻
            | <%= link_to "編集", edit_book_path(b) %>
            | <%= link_to "削除", b, method: :delete, data: { confirm: "削除していい？" } %>
        </li>
    <% end %>
</ul>





