<li>
    <%= link_to book.title, book %>
    <%= book.author %>
    <%= book.number %>巻
    <%= book.publisher %>
    | <%= link_to "編集", edit_book_path(book) %>
    | <%= link_to "削除", book, method: :delete, data: { confirm: "削除していい？" } %>
</li>