<li>
    <%= link_to book.title, book %>
    <%= book.author %>
    <%= book.number %>巻
    | <%= link_to "edit", edit_book_path(book) %>
    | <%= link_to "delete", book, method: :delete, data: { confirm: "削除していい？" } %>
</li>