<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "ShimaBookshelf", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "ホーム",   root_path %></li>
          <li><%= link_to "マンガ一覧", books_path %></li>
          <li><%= link_to "出版社一覧", publishers_path %></li>
          <li><%= link_to "RSS追加", feeds_path %></li>
          <li><%= link_to "ヘルプ",   help_path %></li>
      </ul>
    </nav>
  </div>
</header>